/* 
* Name : first website with Programming hero
* Date : 7/3/2021
* Author & Contributors : Raiyan
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* =============Default CSS Styles =============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  --button-background: #ff7153;
  --main-color: #000000;
  --primary-color: #696969;
}
h1,
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
  font-weight: 600;
  font-size: 5rem;
}
h3,
h4 {
  font-family: "Poppins", sans-serif;
  color: var(--main-color);
}
h3 {
  font-size: normal;
  font-weight: 600;
  font-size: 1.8rem;
}
p,
li,
a,
butto {
  font-family: "Poppins", sans-serif;
}
p {
  color: var(--primary-color);
  font-size: 1.7rem;
  font-style: normal;
  line-height: 2.9rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  padding: 0.9rem 3.7rem;
  background: linear-gradient(23deg, rgb(239 126 126) 15%, #f7654bde 38%);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}
button {
  font-size: 1.8rem;
  color: #fff;
  background: var(--button-background);
  padding: 1.5rem 2rem;
}
/*===================== Header Section CSS Styles Starts======================== */
header {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  justify-content: space-between;
  align-items: center;
  background: url(../img/top-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
}
header h1 {
  font-size: 5rem;
  margin-bottom: 5rem;
}
header h2 .higlight-title {
  color: #ffa500;
  font-size: 4rem;
}
header h2 {
  font-size: 4rem;
  margin-bottom: 5rem;
}
header .left-side-content {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
header .left-side-content h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
header .left-side-content p {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2.9rem;
  margin-bottom: 2rem;
}
header .left-side-content a {
  padding: 0.9rem 3.7rem;
  background: linear-gradient(23deg, rgb(239 126 126) 15%, #f7654bde 38%);
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 500;
}

/* ===============Right side content=============== */

header .right-side-content {
  width: 50%;
  height: 100vh;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .right-side-content img {
  width: 90%;
  margin-left: 20rem;
}

/* =====================Dream Setion Styles================ */

.dream-section {
  width: 100%;
  height: 100%;
  padding: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
/*========Dream Left side styles========== */

.dream-left-side {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dream-left-side img {
  width: 90%;
  margin-right: 10rem;
}

/*========Dream right side styles========== */

.dream-right-side {
  width: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.dream-right-side h1 {
  margin-bottom: 3.8rem;
  font-weight: 500;
}
.dream-right-side h3 {
  margin-bottom: 2.5rem;
}
.dream-right-side p {
  margin-bottom: 2.8rem;
}
